.productlist {
    width: 100%;
    padding-top: 30px;
    padding-left: 250px;
    min-height: 100vh;

}

.title-product {
    width: 90%;
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr 0.4fr;
    padding: 20px;
    border-bottom: 1px solid #ececec;
    justify-items: center;
}

.title-product p {
    font-weight: 500;
    font-size: 13px;
}

.productCards {
    width: 90%;
    display: grid;
    grid-template-columns: 0.4fr 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr 0.4fr;
    background-color: #ececec;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    justify-items: center;
    text-align: center;
}

.productCards h1 {
    font-size: 12px;
    padding: 20px;
}

.action-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.action-button img {
    width: 15px;
    margin: 10px 0;
    cursor: pointer;
}

.product-image img {
    width: 80px;
    border-radius: 10px;
}


@media (max-width:900px) {

    .productlist {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-product p {
        font-size: 10px;
    }

    .product-image img {
        width: 60px;
    }

    .productCards h1 {
        font-size: 10px;

    }

}


@media (max-width:600px) {

    .title-product p {
        /* display: none; */
        font-size: 8px;
    }



    .productCards h1 {
        font-size: 8px;
        padding: 20px 0;
    }

    .product-image img {
        width: 30px;
    }

    .action-button img {
        width: 10px;
    }
}