.user-list {
    width: 100%;
    padding-top: 30px;
    padding-left: 250px;
    min-height: 100vh;

}

.user-each {
    width: 80%;
    background-color: #ececec;
    border-radius: 12px;
    padding: 20px;
    margin: 10px 0px;
}

.user-each p {
    font-weight: 500;
    margin: 8px 0;
}

.item-cart-profile img {
    width: 50px;
    height: auto;
}

.item-cart-profile {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    background-color: rgb(250, 250, 250);
    border-radius: 12px;
    padding: 12px;
    margin: 10px 0;
}

.remove-user {
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    font-weight: 200;
}